@model IEnumerable<MovieStore.Core.Entities.Review>

    <div>
        <div class="container-fluid">
            <div class="row">
                @foreach (var review in Model)
                {
                    <span class="badge badge-pill badge-dark">UserId</span>
                    @review.UserId <br />
                    <span class="badge badge-pill badge-dark">MovieId</span>
                    @review.MovieId <br />
                    <span class="badge badge-pill badge-dark">Rating</span>
                    @review.Rating <br />
                    <span class="badge badge-pill badge-dark">ReviewText</span>
                    @review.ReviewText <br />
                }
            </div>
        </div>
    </div>
