@model MovieStore.Core.Entities.Cast

    <div class="col-6 cl-lg-3 col-sm-4 col-xl-2">

        <a>
            @*make poster as clickable, direct this to controller route*@

            <img src="@Model.ProfilePath" class="img-fluid" alt="@Model.Name" />
        </a>

    </div>